* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fad0e4a2;
}

title {
  flex-direction: column;
}

.app-container { 
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.header {
  text-decoration: solid;
  color:black;
  align-items: center;
  background-color: white;
}

.header,.title,.aboutTitle {
  font-size: 20px;
  padding-bottom: 15px;
  text-align: center;

}

#searchAPI {
  align-content: center;
  text-align: center;
  padding: 6px;
}

form {
  border-bottom: 1px solid;
  text-align: center;
  align-items: center;
}

.product-container {
  margin-top:5px;
  margin-bottom:15px;
  border-bottom: 1px solid rgb(209, 209, 209);
  display: flex;
}
img {
  min-width: 100px;
  margin-right: 5px;
    flex-basis: 40%;
    float: inline-start;
  
  }

.buttons .add-button {
  background-color: rgb(79, 149, 255);
}

.buttons .remove-button{
  padding: 10px 15px;
  border: 0px;  
  border-radius: 20px;
  color:#fff;
  float: right;
  font-size:1.1em;
  background-color: #bd1515;
  font-weight: bold;
  font-size: 1.2em;
}

#Search form{
  width:100%;
  padding-bottom:20px;
  border-bottom:1px solid #dbdbdb;
}

#search input[type=text]{
  border-radius: 5px;
  padding: 5px 10px;
  color:#000;
  font-size:1.3em;
  border:2px solid #9e9e9e;
  width:80%;
  margin-right:5px;
}
#search input[type=submit]{
  background-color:rgb(79, 149, 255);
  width:15%;
  margin-right:5px;
}

.total{
  font-size: 1.5em;
  width:100%;
  font-weight: bold;
  text-align: center;
}
